<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="check.js"></script>
    </head>
    <body id="body"> 
            <div id="header">
                HTML CSS JAVASCRIPT
                <a class="item">РЕГИСТРАЦИЯ</a>
                <div class="item">ВОЙТИ</div>
            </div>
            <form id="form" action="LogIn">
                <h1>ВОЙТИ НА САЙТ</h1> 
                <input value placeholder="ЛОГИН" name="email">
                <input type="password" value placeholder="ПАРОЛЬ" name="password">
                <button value="login">ВОЙТИ</button>
                <h2>Еще не зарегистрированы?<a href="sighup.htm">Зарегистрироваться</a></h2> 
            </form>
     </body>
</html>