<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="resources/style.css">
        <script src="check.js"></script>
    </head>
    <body id="body">
        <form>
                <h1>Зарегистрироваться на сайте</h1> 
                    <div class="value">Имя:</div>
                <input name="name">
                <div class="value" >Фамилия:</div>
                <input name="lastName">
                <div class="value">Группа:</div>
                <input name="group">
                <div class="value">Электронная почта:</div>
                <input name="email">
                <div class="value">Пароль:</div>
                <input type="password" name="password">
                <div class="value">Еще раз:</div>
                <input type="password">
                <button value="signup">Зарегистрироваться</button>
                
                <table>
                    <tr>
                        <td>
                            <div class="table_title">Регистрационная форма</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table_description">Введите в поля нужную информацию</div>
                        </td>
                    </tr>
                    <tr>
                        <td><input value placeholder="Имя:"></td>
                    </tr>
                    <tr>
                        <td><input value placeholder="Фамилия:"></td>
                    </tr>
                    <tr>
                        <td><input value placeholder="Группа:"></td>
                    </tr>
                    <tr>
                        <td><input value placeholder="Электронная почта:"></td>
                    </tr>
                    <tr>
                        <td><input type="password" value placeholder="Пароль:"></td>
                    </tr>
                    <tr>
                        <td><input type="password" value placeholder="Еще раз:"></td>
                    </tr>
                    <tr>
                        <td><button>Зарегистрироваться</button></td>
                    </tr>
                </table>
        </form>
     </body>
</html>