<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="check.js"></script>
    </head>
    <body id="body"> 
            <div id="user_panel">
                <a class="item" href="signup.htm">РЕГИСТРАЦИЯ</a>
                <a class="item" href="">ВОЙТИ</a>
            </div>
            <div id="header">
                &#62;WebManual
            </div>
            <div id="user_profile">
                <div id="left_user_profile">
                    <img id="avatar" src="avatars\devil.png"></img>
                    <div class="profile_name">Владислав Хрипков</div>
                    <div class="progile_info">Группа: 3ПКС-2</div>
                    <div class="progile_info">email: vladislavkhripkov@mail.ru</div>
                    <div class="rating">Рейтинг: 2645XP</div>
                    <div id="action_profile">
                        <a href="">Изменить профиль</a>
                    </div>
                </div>
                <div class="title_profile">АКТИВНОСТЬ ПОЛЬЗОВАТЕЛЯ:</div>
                <div id="right_user_profile">
                    <div class="search_user_item">
                        <div id="title">Прошел тест:</div>
                        <div id="rating">+20</div>
                        <div id="link">
                            <a href="">CSS: Блоки</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>